In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
# import seaborn as sns
pd.set_option('display.max_columns', None)

ModuleNotFoundError: No module named 'pandas'

In [3]:
df = pd.read_csv(r'C:/Users/84393/OneDrive - CÃ”NG TY TNHH OFFICIENCE/PYTHON/Parental+Leave/parental_leave.csv', encoding= 'unicode_escape')
df.head()

,Company,Industry,Paid Maternity Leave,Unpaid Maternity Leave,Paid Paternity Leave,Unpaid Paternity Leave,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Epsilon,Advertising,6.0,6.0,6.0,6.0,NaN,NaN,NaN,NaN
1,The Walt Disney Company,Arts & Entertainment,5.0,4.0,4.5,4.0,NaN,NaN,NaN,NaN
2,Guild Education,Business Services: Other,14.0,0.0,8.0,4.0,NaN,NaN,NaN,NaN
3,WeWork,Business Services: Other,14.0,2.0,16.0,4.0,NaN,NaN,NaN,NaN
4,Randstad USA,Business Services: Staffing & Outsourcing,5.0,7.0,0.0,0.0,NaN,NaN,NaN,NaN

**1. DICTIONARY**
Company : Company name

Industry : Company industry & sub-industry (Industry: Sub-industry)

Paid Maternity Leave : Paid weeks off from work for mothers after the birth of their child

Unpaid Maternity Leave : Unpaid weeks off from work for mothers after the birth of their child

Paid Paternity Leave : Paid weeks off from work for fathers after the birth of their child

Unpaid Paternity Leave : Unpaid weeks off from work for fathers after the birth of their child

 : NOTE: This is user-reported data. Where users report conflicting information, consensus numbers (if any) or the median are shown. "N/A" means no information has been reported.

In [7]:
df.describe()

,Paid Maternity Leave,Unpaid Maternity Leave,Paid Paternity Leave,Unpaid Paternity Leave,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
count,1601.000000,1494.000000,289.000000,64.000000,0.0,0.0,0.0,0.0
mean,10.909119,6.628849,7.332180,7.734375,NaN,NaN,NaN,NaN
std,8.024514,9.274953,6.817591,6.831863,NaN,NaN,NaN,NaN
min,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
25%,6.000000,0.000000,2.000000,2.000000,NaN,NaN,NaN,NaN
50%,11.000000,4.000000,6.000000,6.000000,NaN,NaN,NaN,NaN
75%,12.000000,10.000000,12.000000,12.000000,NaN,NaN,NaN,NaN
max,52.000000,52.000000,51.000000,29.000000,NaN,NaN,NaN,NaN

In [8]:
df.isnull().sum()

Company                      0
Industry                     3
Paid Maternity Leave         0
Unpaid Maternity Leave     107
Paid Paternity Leave      1312
Unpaid Paternity Leave    1537
Unnamed: 6                1601
Unnamed: 7                1601
Unnamed: 8                1601
Unnamed: 9                1601
dtype: int64

In [21]:
df = df[['Company','Industry','Paid Maternity Leave','Unpaid Maternity Leave','Paid Paternity Leave','Unpaid Paternity Leave']].sort_values(by='Paid Maternity Leave', ascending=False)
df

,Company,Industry,Paid Maternity Leave,Unpaid Maternity Leave,Paid Paternity Leave,Unpaid Paternity Leave
1470,Rangle.io,Technology: Software,52.0,0.0,NaN,NaN
439,MTX Group Inc,Consulting Services,52.0,0.0,NaN,NaN
1405,Dynatrace,Technology: Software,52.0,52.0,NaN,NaN
1380,Bitdefender,Technology: Software,52.0,52.0,NaN,NaN
1511,FlixBus,Transportation: Bus,52.0,0.0,NaN,NaN
...,...,...,...,...,...,...
1598,Schneider National,Transportation: Freight & Logistics,0.0,NaN,NaN,NaN
1561,American Bridge Company,Industrial: Construction Company,0.0,NaN,NaN,NaN
751,Montefiore Medical Center,Healthcare: Hospitals & Clinics,0.0,NaN,0.0,NaN
1556,"NxStage Medical, Inc.",Healthcare: Medical Devices,0.0,NaN,NaN,NaN
1600,Merrimac Industrial Sales,Wholesale,0.0,NaN,NaN,NaN

**2. CHECK NULL**

In [22]:
df[df.Industry.isnull()]

,Company,Industry,Paid Maternity Leave,Unpaid Maternity Leave,Paid Paternity Leave,Unpaid Paternity Leave
1023,ASML,NaN,52.0,40.0,NaN,NaN
1025,Rokt,NaN,15.0,0.0,NaN,NaN
1024,INK Communications Co.,NaN,10.0,2.0,NaN,NaN

**3. GROUPBY COMPANY**

In [27]:
dfbycompany = df.groupby(['Company']).sum()
# .sort_values(by= 'Value', ascending=False)
dfbycompany.sort_values(by='Paid Maternity Leave', ascending=False)

C:\Users\84393\AppData\Local\Temp\ipykernel_7924\4062354188.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dfbycompany = df.groupby(['Company']).sum()

,Paid Maternity Leave,Unpaid Maternity Leave,Paid Paternity Leave,Unpaid Paternity Leave
Company,,,,
American Income Life,52.0,0.0,0.0,0.0
ASML,52.0,40.0,0.0,0.0
JHC Systems,52.0,0.0,0.0,0.0
Scentsy,52.0,0.0,0.0,0.0
Rangle.io,52.0,0.0,0.0,0.0
...,...,...,...,...
ProMedica,0.0,0.0,0.0,0.0
Project Renewal,0.0,0.0,0.0,0.0
GoDigital Media Group,0.0,0.0,0.0,0.0
Red Robin,0.0,12.0,0.0,0.0
U.S. Department of Education,0.0,12.0,0.0,0.0

In [ ]:
plt.figsize(8,5)